-
.CFUserTextEncoding
.CFUserTextEncoding.meta
.NERDTreeBookmarks
.Trash/
.Xauthority
.antigen/
.atom/
.bash_history
.bash_profile
.bashrc
.bro
.cabal/
.cache/
.commands
.composer/
.config/
.cups/
.dic/
.dir_colors
.dropbox/
.emacs.d/
.fontconfig/
.fzf.bash
.fzf/
.gem/
.ghc/
.gitconfig
.gitignore_global
.gnupg/
.haskell-vim-now/
.hgignore_global
.homestead/
.htoprc
.irb-history
.irssi/
.lesshst
.local/
.luarocks/
.m2/
.matplotlib/
.node-gyp/
.npm/
.nvim/
.nviminfo
.nvimlog
.nvm/
.pip/
.profile
.rbenv/
.rnd
.spacemacs
.ssh/
.subversion/
.swk
.swl
.swm
.swn
.swo
.swp
.task/
.taskrc
.tim/
.vagrant.d/
.vim/
.vimHaskell
.viminfo
.vimperator/
.vimperatorrc
.vimrcHaskell
.vimtags
.wargames
.wireshark-etc/
.wireshark/
.zcompdump
".zcompdump-Benjamin\342\200\231s MacBook Pro-5.0.2"
.zdirs
.zlogin
.zprofile
.zsh-update
.zsh_history
.zshenv
Applications/
Desktop/
Documents/
Downloads/
Dropbox (GasWork.com)/
Library/
March_8_2015_thoughts
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
antigen/
bin/
crash_reports/
git_projects/
interpreters/
learning-laravel/
notes/
tmux_test_not_fixed/
vagrant/
